@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Open+Sans+Condensed:wght@300&display=swap");
.single-task-area {
  color: white;
  background-color: rgba(255, 255, 255, 0.253);
  border-radius: 10px;
  margin: 1rem 0;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5rem;
}

.todo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-text span {
  display: inline-block;
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
}

.todo-text span::before {
  content: " ";
  border: none;
  margin: 0 1rem;
  max-height: 30px;
  max-width: 30px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  display: inline-block;
  background-image: url("/src/assets/images/CenterCircle.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 170%;
  /* Resize the background image to cover the entire container */
  background-repeat: no-repeat;
}

.todo-text span:hover {
  cursor: pointer;
}

.total-time {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons {
  padding: 0.5rem;
}

.fa-times {
  display: inline;
  height: 100%;
  font-size: 1rem;
  color: #cd5fdb;
  margin: 0 1rem;
}

.fa-times:hover {
  cursor: pointer;
}

.fa-pencil {
  display: inline;
  height: 100%;
  font-size: 1rem;
  color: #cd5fdb;
  margin: 0 0 0 0.5rem;
}

.fa-pencil:hover {
  cursor: pointer;
}

.timer-button {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  margin-left: 2rem;
}

.timer-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
}

.edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 2rem 0;
}

.edit-form input {
  width: 93%;
  height: 100%;
  margin: 0 0.5rem 0 0;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #22a2f258;
  color: white;
}

.edit-form input::-webkit-input-placeholder {
  color: white;
}

.edit-form input:-ms-input-placeholder {
  color: white;
}

.edit-form input::-ms-input-placeholder {
  color: white;
}

.edit-form input::placeholder {
  color: white;
}

.edit-form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.edit-form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.edit-form button {
  margin: 0 0.5rem;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #22a2f258;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
}

.edit-form button:hover {
  cursor: pointer;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #edc9f2;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem;
}

.project .project-text {
  color: #cd5fdb;
  font-size: 0.8rem;
}

.project i {
  margin: 0 0.5rem;
  justify-self: flex-end;
  font-size: 13px;
}

.time-spent-text {
  margin: 0 0 0 2rem;
}
/*# sourceMappingURL=Task.css.map */