// Imports

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Open+Sans+Condensed:wght@300&display=swap");

// Colors
$dark-pink: #e9a0f2;
$darker-pink: #a93ab8;
$light-pink: #edc9f2;
$purple: #7b77f2;
$dark-blue: #22a2f2;
$light-blue: #38bdf2;

$main-text-color: white;

$blue-neutral-with-opacity: #22a2f258;
$light-blue-opacity: #38bdf25b;

$outline: $dark-pink;

// Mixins

@mixin main-font {
	font: {
		family: "Nunito", sans-serif;
		weight: 200;
	}
	color: $main-text-color;
}
