@import "./_variables";

// comment

header {
	grid-area: header;
	min-height: 50px;
	display: flex;
	align-items: center;
	background: rgb(34, 162, 242);
	background: linear-gradient(
		180deg,
		rgba(34, 162, 242, 1) 14%,
		rgba(56, 189, 242, 0.15870098039215685) 98%
	);
	box-shadow: 0 1px 6px 3px rgba(56, 189, 242, 0.15870098039215685);

	ul {
		margin: 0 0 0 40px;

		li {
			display: inline;
			margin-right: 2rem;
			color: white;
		}
	}

	a {
		text-decoration: none;
		color: white;

		&:hover {
			text-decoration: underline;
		}
	}

	button {
		border: none;
		background-color: transparent;
		&:hover {
			text-decoration: underline;
		}
	}
}
