@import "./_variables";

header {
	grid-area: header;
	display: flex;
	align-items: center;
	background-image: linear-gradient(
		to bottom,
		#0487d9,
		#1294df,
		#25a1e4,
		#38aee9ce,
		#4cbaeda6,
		#6ec2f26b,
		#89cbf74b,
		#a0d3fb21
	);

	ul {
		margin: 0 0 0 40px;

		li {
			display: inline;
			margin-right: 2rem;
			color: white;
		}
	}

	a {
		text-decoration: none;
		color: white;

		&:hover {
			text-decoration: underline;
		}
	}
}
