@import "./variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

body {
	height: 100vh;
	background-image: url("/src/assets/images/Background.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	background-repeat: no-repeat;
}

#root {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 4rem 1fr 5rem;
	grid-template-columns: 1fr;
	height: 100%;
	width: 100%;
}
