@import "./variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

body {
	height: 100vh;
	background-image: linear-gradient(to bottom, #0487d9, #7aa1e3, #b1bdec, #dcddf5, #ffffff);
}

#root {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: 4rem 1fr 5rem;
	grid-template-columns: 1fr;
	height: 100%;
	width: 100%;
}
